/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 60px;
}
body {
  background: #383e56;
  margin: 0;
  padding-bottom:60px;
  font-family: 'DM Mono', monospace;
  z-index: 0;
}
#menuToggler{
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  height: 1em;
  width: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  background-color: #9fb8ad;
  padding: 0.25em;
}
#menuToggler div {
  height: 20%;
  background: #383e56;
  transition: 0.3s;
}
#menuToggler.open div:nth-child(1){
  transform: translateY(0.4em) rotate(45deg);
}
#menuToggler.open div:nth-child(2){
  opacity: 0;
}
#menuToggler.open div:nth-child(3){
  transform: translateY(-0.4em) rotate(-45deg);
}
nav {
  font-weight: 100;
  letter-spacing: 0.25em;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(159,184,173, 0.85);
  transform: translateY(100vh);
  transition: 0.5s;
  z-index: 19;
}
nav a {
  margin: 1em 2em 1em 2em;
  text-decoration: none;
  justify-content: center;
  color: #383e56;
  font-size: 1.4em;
  font-weight: bold;
  transition: color 0.4s;
}
nav div {
  height: 3px;
  width: 60%;
  margin: 0 auto 0 auto;
  background: #383e56;
}
nav.open {
  transform: translateY(0);
}
div.title {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: white;
}
header h1, header h2 {
  color: white;
  margin: 0 1px 0 10px;
  letter-spacing: 0.05em;
  z-index: 15;
}
header h1{
  font-size: 2.5em;
}
header h2 {
  line-height: 1em;
  margin-bottom: 10px;
  font-weight: lighter;
  font-size: 1.25em;
}
#menuToggler.open + header nav {
  transform: translate(0);
}
nav a:hover {
  color: #fb743e;
}
div.img-banner {
  display: flex;
  justify-content: center;
  margin: 1em 0 1em 0;
  padding: 1em 0 1em 0;
  background: url(https://placekitten.com/300/200);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(90%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  max-width: 90%;
  float: none;
  margin: 1em auto 5em auto;
}
main p {
  margin: 2em 0 2em 0;
  font-size: 1em;
  color: white;
}
section.sous-img {
  margin: 2em 0 2em 0;
}
p.quote {
  margin: 1em;
  width: 60%;
  padding: 1em 0 1em 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  line-height: normal;
  color: white;
}
p.sous-quote {
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}
.img-segment {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #9fb8ad;
  border-bottom: 1px solid #9fb8ad;
}
.slide-img {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1em 0 1em 0;
}
.txt-overlay {
  color: white;
  background-color: #9fb8ad;
}
.slide-title {
  text-decoration: underline;
  margin-bottom: 1em;
}
section img {
  margin: 0;
  filter: grayscale(90%);
}
div.container {
  text-align: center;
  padding: 10px 20px;
}
div.footer {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}
footer {
  align-self: center;
  width: 75%;
  bottom: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #9fb8ad;
}
footer p {
  margin: 0.5em;
}
section.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.5em;
  margin: 0.5em;
}
section.social-icons p {
  margin: 0.25em 0.5em 0.25em 0.5em;
}
section.social-icons p a {
  color: #383e56;
  text-decoration: none;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {
  #menuToggler{
    top: 1em;
    right: 1em;
    height: 1.5em;
    width: 1.5em;
  }
  #menuToggler div {
    height: 22%;
  }
  #menuToggler.open div:nth-child(1){
    transform: translateY(0.575em) rotate(45deg);
  }
  #menuToggler.open div:nth-child(2){
    opacity: 0;
  }
  #menuToggler.open div:nth-child(3){
    transform: translateY(-0.575em) rotate(-45deg);
  }
  header img {
    background-image: url(https://placekitten.com/500/250);
  }
  div.title {
    display: flex;
    flex-direction: row;
  }
  div.img-banner {
    display: flex;
    justify-content: center;
  }
  p.quote {
    font-size: 1.2em;
    width: 60%;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
  #menuToggler {
    display: none;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.title {
    margin: 0.5em 0.5em 0 0.5em;
    padding-left: 1em;
  }
  div.sub-title {
    margin: 0 0.5em 0.5em 0.5em;
    padding-left: 1.5em;
  }
  section.nav-bar {
    margin: 0.5em;
    padding: 3.75em 2em 0 0;
  }
  nav {
    font-weight: 100;
    letter-spacing: 0.25em;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: static;
    background-color: rgb(137,207,240, 0);
    transform: none;
    height: auto;
    width: auto;
    top: auto;
    left: auto;
  }
  nav a {
    margin: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-weight: lighter;
    transition: color 0.4s;
  }
  nav div {
    display: none;
  }
  div.img-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 2em 1em 2em;
    height: 30em;
    background: url(https://placekitten.com/1920/1080);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  p.sous-quote {
    text-align: center;
    font-size: 1.75em;
  }
  section.img-p {
    align-self: center;
    text-align: center;
    font-size: 2.5em;
  }
  header h1 {
    font-size: 3em;
  }
  header h2 {
    margin: 0;
    font-size: 1.25em;
    font-weight: lighter;
  }
  section p.quote {
    font-size: 1.5em;
  }
  .img-segment {
    margin: 2em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .slide-img {
    margin: 1em;
    align-self: center;
    position: relative;
    width: 33%;
  }
  .img-bg {
    display: block;
    width: 100%;
    height: auto;
  }
  .txt-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(159, 184, 173, 1);
    overflow: hidden;
    width: 100%;
    height: 25%;
    transition: .5s ease;
  }
  .slide-img:hover .txt-overlay {
    height: 100%;
    background-color: rgb(159, 184, 173, 0.65)
  }
  .slide-img:hover .slide-title {
    text-decoration: underline;
    font-size: 1em;
    top: 10%;
  }
  .slide-img:hover .slide-desc {
    padding-top: 30%;
    transform: translate(0);
  }
  .slide-title {
    white-space: nowrap;
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
  }
  .slide-desc {
    margin: 2em;
    text-align: center;
    align-self: center;
    font-size: 0.9em;
    color: white;
    padding-top: 50%;
    transform: translate(0, 100%);
    transition: .5s ease;
  }

}
@media screen and (min-width: 1400px) {
  section.full-title {
    display: flex;
    flex-direction: column;
  }
  .slide-img:hover .slide-title {
    font-size: 1.5em;
  }
  .slide-desc {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1708px) {
  section.full-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  div.title {
    display: flex;
    margin: 0.5em;
    padding-left: 1em;
  }
  div.sub-title {
    display: flex;
    margin: 1em;
    padding-top: 1.25em;
    padding-left: 0;
  }
  p.quote {
    font-size: 2em;
  }
  .slide-img:hover .slide-title {
    font-size: 2em;
  }
  .slide-desc {
    font-size: 1.5em;
  }
}
