/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #2E8BC0;
  margin: 0;
  font-family: 'Benne', serif;
  z-index: 0;
}
#menuToggler{
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  height: 1em;
  width: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  background-color: rgba(137, 207, 240, 0.85);
  padding: 0.25em;
}
#menuToggler div {
  height: 20%;
  background: #145DA0;
  transition: 0.3s;
}
#menuToggler.open div:nth-child(1){
  transform: translateY(0.4em) rotate(45deg);
}
#menuToggler.open div:nth-child(2){
  opacity: 0;
}
#menuToggler.open div:nth-child(3){
  transform: translateY(-0.4em) rotate(-45deg);
}
nav {
  font-weight: 100;
  letter-spacing: 0.25em;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(137,207,240, 0.85);
  transform: translateY(100vh);
  transition: 0.5s;
  z-index: 19;
}
nav a {
  margin: 1em 2em 1em 2em;
  text-decoration: none;
  justify-content: center;
  color: #694b83;
  font-size: 1.4em;
  font-weight: bold;
  transition: color 0.4s;
}
nav div {
  height: 3px;
  width: 60%;
  margin: 0 auto 0 auto;
  background: #145DA0;
}
nav.open {
  transform: translateY(0);
}
header h1, header h2 {
  color: white;
  margin: 0 0 0 10px;
  letter-spacing: 0.05em;
  z-index: 15;
}
header h1{
  font-size: 2em;
}
header h2 {
  line-height: 1em;
  margin-bottom: 10px;
  font-weight: lighter;
  font-size: 1.25em;
}
#menuToggler.open + header nav {
  transform: translate(0);
}
img.top-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(90%);
}
nav a:hover {
  color: #694b83;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px 0 15px;
  max-width: 75%;
  float: none;
  margin: 1em auto 1.5em auto;
}
main p {
  margin: 2em 0 2em 0;
  font-size: 1.1em;
  color: white;
}
section p.quote {
  margin: 0.75em;
  padding: 0.4em 0 0.4em 0;
  border-top: 1px solid #5e647e;
  border-bottom: 1px solid #5e647e;
  text-align: center;
}
section img {
  margin: 0;
  filter: grayscale(90%);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
section.img-segment {
  display: flex;
  flex-direction: column;
}
section.polaroid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em;
}
div.cardImg {
  margin: 0.4em 1em 0.4em 1em;
  width: 75%;
  background-color: #B1D4E0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.container {
  text-align: center;
  padding: 10px 20px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  background-color: #B1D4E0;
}
footer p {
  margin: 0.5em;
}
section.socialIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.5em;
  margin: 0;
}
section.socialIcons p {
  margin: 0.25em 0.5em 0.25em 0.5em;
}
section.socialIcons p a {
  color: #145DA0;
  text-decoration: none;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {
  body {
    background: #2E8BC0;
  }
  #menuToggler{
    top: 1em;
    right: 1em;
    height: 1.5em;
    width: 1.5em;
  }
  #menuToggler div {
    height: 22%;
  }
  #menuToggler.open div:nth-child(1){
    transform: translateY(0.575em) rotate(45deg);
  }
  #menuToggler.open div:nth-child(2){
    opacity: 0;
  }
  #menuToggler.open div:nth-child(3){
    transform: translateY(-0.575em) rotate(-45deg);
  }
  header img {
    background-image: url(https://placekitten.com/700/300);
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
  #menuToggler {
    display: none;
  }
  section.title-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  section.full-title {
    display: flex;
    flex-direction: column;
  }
  section.title {
    display: flex;
    margin: 0.5em 0.5em 0 0.5em;
    padding-left: 1em;
  }
  section.sub-title {
    display: flex;
    margin: 0 0.5em 0.5em 0.5em;
    padding-left: 1.5em;
  }
  section.nav-bar {
    display: flex;
    margin: 0.5em;
    padding: 3.75em 2em 0 0;
    align-items: baseline;
  }
  nav {
    font-weight: 100;
    letter-spacing: 0.25em;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: static;
    background-color: rgb(137,207,240, 0);
    transform: none;
    height: auto;
    width: auto;
    top: auto;
    left: auto;
  }
  nav a {
    margin: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-weight: lighter;
    transition: color 0.4s;
  }
  nav div {
    display: none;
  }
  section.img-segment {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  header h1 {
    font-size: 3em;
  }
  header h2 {
    margin: 0;
    font-size: 1.25em;
    font-weight: lighter;
  }
  section p.quote {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1400px) {
  section.full-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  section.title {
    display: flex;
    margin: 0.5em;
    padding-left: 1em;
  }
  section.sub-title {
    display: flex;
    margin: 1em;
    padding-top: 2em;
    padding-left: 0;
  }
  img.top-banner{
    box-sizing: border-box;
    margin: 0 4em 0 4em;
  }
}
