/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

/*Keyframe animations*/
@keyframes slide-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes load-in {
  from {
    opacity: 0;
    transform: translateY(2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth;
}
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: #f2edd7;
  opacity: 0;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}
#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}
body {
  background: #f2edd7;
  margin: 0;
  padding-bottom: 60px;
  font-family: 'DM Mono', monospace;
  z-index: 0;
}
#menuToggler{
  position: fixed;
  top: 1em;
  right: 1.5em;
  height: 1.5em;
  width: 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 20;
  padding: 0.25em;
}
#menuToggler div {
  height: 10%;
  width: 110%;
  background: #3a6351;
  transition: 0.4s;
}
#menuToggler.open div:nth-child(1){
  transform: translateY(0.36em) rotate(180deg);
}
#menuToggler.open div:nth-child(2){
  transform: translateY(-0.36em) rotate(-180deg);
}
nav {
  font-weight: 100;
  letter-spacing: 0.25em;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(242, 237, 215, 0.85);
  transform: translateY(100vh);
  transition: 0.5s;
  z-index: 19;
}
nav a {
  margin: 1em 2em 1em 2em;
  text-decoration: none;
  justify-content: center;
  color: #3a6351;
  font-size: 1.75em;
  font-weight: bold;
  transition: color 0.4s;
}
nav div {
  height: 3px;
  width: 60%;
  margin: 0 auto 0 auto;
  background: #3a6351;
}
nav.open {
  transform: translateY(0);
}
.img-segment h3{
  opacity: 1;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  max-width: 90%;
  float: none;
  margin: 0 auto 2em auto;
}
.title {
  display: flex;
  flex-direction: column;
}
h1 {
  color: #3a6351;
  font-size: 2.85em;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 0;
}
.sub-title {
  color: #3a6351;
  font-size: 0.75em;
  font-weight: normal;
}
h2 {
  color: #3a6351;
  margin: 0.25em 0 0 0;
  line-height: 1em;
  margin-bottom: 10px;
  font-weight: lighter;
  font-size: 2.25em;
}
a {
  text-decoration: none;
  color: #3a6351;
}
#menuToggler.open + header nav {
  transform: translate(0);
}
nav a:hover {
  color: #393232;
}
.hero-banner{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.img-banner {
  margin: 1em 0 1em 0;
  height: 300px;
  object-fit: cover;
  max-height: 310px;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main p {
  margin: 2em 0 2em 0;
  font-size: 1em;
  color: #3a6351;
}
.under-img {
  margin-bottom: 1em;
  font-size: 20px;
  color: #3a6351;
}
.under-quote {
  text-align: center;
  margin: 0;
}
#img-segment {
  display: flex;
  flex-direction: column;
  padding: 1em 0 1em 0;
  border-top: 1px solid #3a6351;
  border-bottom: 1px solid #3a6351;
}
.project-segment{
  margin: 1em 0 1em 0;
  background-color: #3a6351;
  height: 400px;
  align-items: center;
}
.project-title {
  color: white;
  text-align: center;
  margin: 0.5em 0 10px 0.5em;
}
.homelink-container {
  margin-top: 0.5em;
}
#homelink {
  text-align: left;
  margin: 0.75em 0 0 15px;
  line-height: 1em;
  font-weight: lighter;
  font-size: 1.5em;
  animation-name: slide-down;
  animation-duration: 500ms;
}
.homelink-sub {
  text-align: left;
  color: #3a6351;
  margin: 0 0 0 0.75em;
  font-weight: lighter;
  font-size: 1em;
  animation-name: slide-down;
  animation-duration: 500ms;
}
.h3-index {
  opacity: 0;
}
.project-img{
  filter: grayscale(90%);
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  margin: 1em;
  height: 85%;
}
.project-img.one {
  background-image: url("../images/museumGameImgOne.jpg");
}
.project-img.two {
  background-image: url("../images/webDesignProject.jpg");
  image-rendering: unset;
}
.about-img {
  background-image: url("../images/meCropped.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 300px;
  animation-name: fade-in;
  animation-duration: 3s;
}
.about-description {
  width: 100%;
  animation-name: fade-in;
  animation-duration: 3s;
}
.about-description h2 {
  letter-spacing: -0.025em;
  animation-name: slide-left;
  animation-duration: 2s;
}
.about-project-link {
  text-decoration: underline;
}
.about-border {
  margin: 3em 0 3em 0;
  align-self: center;
  background-color: #3a6351;
  width: 75%;
  height: 2px;
}
.currently-reading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-r-container {
  margin: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-r-header {
  font-size: 1.75em;
}
.c-r-img {
  width: 200px;
  height: 290px;
  position: relative;
  background-size: cover;
  background-position: center;
}
.c-r-title {
  margin: 0;
}
.c-r-author {
  margin: 0;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 1.5em;
}
.contact-p {
  font-size: 2em;
  margin: 0;
  text-align: center;
  animation-name: load-in;
  animation-duration: 1s;
}
.email {
  color: #3a6351;
  margin: 1em 0 1em 0;
  text-align: center;
  font-size: 1.25em;
  font-weight: bolder;
  text-decoration: underline;
  animation-name: load-in;
  animation-duration: 1s;
}
.main-projects {
  padding: 0;
  margin: 2em 0 3em 0;
  max-width: 100%;
}
.projectX {
  margin: 0;
  height: 90%;
  display: grid;
  grid-template-rows: 8fr;
  grid-template-columns: 1fr;
}
.projectX h3 {
  font-size: 2em;
}
.project-img-slide {
  height: 375px;
  grid-area: 1 / 1 / 4 / 2;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
}
.project-title-fade {
  background-color: #3a6351;
  height: 95px;
  grid-area: 3 / 1 / 4 / 2;
  -webkit-mask-image: linear-gradient(to top, black 0%, transparent 100%);
  mask-image: linear-gradient(to top, black 0%, transparent 100%);
}
.project-title {
  margin: 0.25em 0 0 0;
  grid-area: 3 / 1 / 4 / 2;
  z-index: 2;
}
.project-description {
  padding: 0.5em;
  grid-area: 4 / 1 / 8 / 2;
  background-color: #3a6351;
  height: 500px;
}
.project-description p {
  color: white;
  font-size: 1em;
  margin: 10px;
  text-align: left;
}
.dotnum {
  color: #f2edd7;
  text-align: center;
}
.nav-dot {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dot {
  margin: 2em;
  background-color: #3a6351;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
footer {
  display: flex;
  justify-content: center;
}
footer p {
  margin: 0.5em;
}
section.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  margin: 0.5em;
  background-color: #3a6351;
  width: 75%;
  bottom: 0;
  height: 50px;
}
section.social-icons p {
  margin: 0.25em 0.5em 0.25em 0.5em;
}
section.social-icons p a {
  color: #cee2d9;
  text-decoration: none;
}
.github {
  width: 40px;
  height: 40px;
  background-image: url("../images/gitHub-Mark-64px.png");
  background-size: cover;
  background-position: center;
}

/* TABLET STYLES */

@media screen and (min-width: 600px) {
  #menuToggler{
    right: 1em;
    height: 1.5em;
    width: 2em;
  }
  #menuToggler div {
    height: 15%;
  }
  #menuToggler.open div:nth-child(1){
    transform: translateY(0.365em) rotate(180deg);
  }
  #menuToggler.open div:nth-child(2){
    transform: translateY(-0.365em) rotate(-180deg);
  }
  h1 {
    font-size: 3.25em;
  }
  nav div {
    width: 50%;
  }
  .homelink {
    font-size: 1.75em;
  }
  .homelink-sub {
    font-size: 1.25em;
  }
  .hero-banner {
    display: grid;
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;
  }
  .full-title {
    grid-area: 1 / 1 / 3 / 4;
  }
  .img-banner {
    width: 600px;
    height: 600px;
    max-width: 50vw;
    grid-area: 1 / 4 / 3 / 6;
  }
  .under-img {
    grid-area: 3 / 1 / 5 / 6;
  }
  .project-segment {
    height: 500px;
  }
  .project-description p {
    font-size: 20px;
  }
  h3 {
    font-size: 2em;
  }
  .about-img {
    height: 400px;
  }
  .about-description h2 {
    font-size: 3em;
  }
  .about-description p {
    font-size: 1.5em;
  }
  .c-r-title {
    margin: 0;
    font-size: 1.5em;
  }
  .email {
    font-size: 2em;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 900px) {
  #menuToggler {
    display: none;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 20;
    animation-name: slide-down;
    animation-duration: 2s;
  }
  header h3 {
    opacity: 1;
    color: #3a6351;
    font-size: 2em;
    margin: 0.8em 1em 1em 1em;
  }
  .nav-border {
    height: 2px;
    width: 60%;
    margin: 0 auto 0 auto;
    background: #3a6351;
  }
  .hero-banner {
    margin: 40px 80px 40px 80px;
  }
  .sub-title {
    margin: 0 0.5em 0.5em 0.5em;
  }
  .nav-bar {
    margin: 0.5em;
  }
  nav {
    font-size: 20px;
    flex-direction: row;
    position: static;
    background-color: rgb(137,207,240, 0);
    transform: none;
    height: auto;
    width: auto;
    top: auto;
    left: auto;
  }
  nav a {
    margin: 0.5em;
    text-decoration: none;
    color: #3a6351;
    font-size: 1.4em;
    font-weight: lighter;
    transition: color 0.4s;
  }
  nav div {
    display: none;
  }
  .img-banner {
    width: 600px;
    height: 600px;
    max-width: 50vw;
    grid-area: 1 / 4 / 5 / 6;
  }
  .under-img {
    grid-area: 3 / 1 / 5 / 4;
  }
  .img-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 2em 1em 2em;
    max-height: 50vh;
    max-width: 50vw;
  }
  section.img-p {
    align-self: center;
    text-align: center;
    font-size: 2.5em;
  }
  header h1 {
    font-size: 3em;
  }
  header h2 {
    margin: 0;
    font-size: 1.25em;
    font-weight: lighter;
  }
  section p.quote {
    font-size: 1.5em;
  }
  #img-segment {
    margin: 2em;
    padding: 2em;
  }
  .project-segment {
    height: 650px;
    width: 95%;
    align-self: center;
  }
  h3 {
    color: white;
    font-size: 2.25em;
    opacity: 1;
  }
  .project-img {
    height: 87%;
    transition: 0.4s;
  }
  .project-img:hover {
    transform: translateY(-0.36em);
    filter: grayscale(0);
    opacity: 0.9;
  }
  .top-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: none;
    margin: 0 auto 2em auto;
    flex-direction: row;
  }
  .about-img {
    align-self: center;
    width: 50%;
    height: 500px;
    margin: 0.5em;
  }
  .about-description {
    width: 40%;
    height: 500px;
    align-self: baseline;
    margin: 0.5em;
  }
  .about-description h2 {
    animation-name: slide-right;
  }
  p.about {
    margin: 1.5em 0 1.5em 0;
  }
  .currently-reading {
    margin-top: 2em;
  }
  .currently-reading-container {
    margin-top: 1em;
    flex-direction: row;
    justify-content: space-around;
  }
  .c-r-title {
    margin: 0;
    color: black;
  }
  .email {
    font-size: 3.8em;
  }
  .projects-container {
    display: flex;
    justify-content: center;
    margin: 3em 0 3em 0;
  }
  .projectX {
    margin: 0 2em 0 2em;
    grid-template-columns: 50ch;
    animation-name: slide-down;
    animation-duration: 0.8s;
  }
  .project-img-slide {
    grid-area: 1 / 2 / 4 / 12;
    background-image: url(https://placekitten.com/720/720);
    width: 500px;
    height: 100%;
  }
  .project-title {
    grid-area: 1 / 1 / 2 / 2;
  }
  .project-title-fade {
    grid-area: 1 / 1 / 2 / 2;
    -webkit-mask-image: linear-gradient(to top, #3a6351 100%, #3a6351 100%);
  }
  .project-description {
    grid-area: 3 / 1 / 4 / 2;
  }
  .project-description p {
    position: relative;
    margin: 1em 0 1em 0;
  }
}
@media screen and (min-width: 1400px) {
  section.full-title {
    display: flex;
    flex-direction: column;
  }
  .slide-img:hover .slide-title {
    font-size: 1.5em;
  }
  .slide-desc {
    font-size: 1.25em;
  }
  .nav-border {
    margin-bottom: 2em;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3em;
  }
  .under-quote {
    font-size: 1.5em;
  }
  .project-segment {
    height: 750px;
    width: 80%;
  }
  .about-img {
    height: 600px;
  }
  .currently-reading {
    margin-top: 3em;
  }
  .c-r-header {
    font-size: 2em;
    margin-left: 60px;
  }
  .currently-reading-container {
    margin: 3em 2em 0 2em;
  }
  .project-img-slide {
    grid-area: 1 / 3 / 4 / 12;
    background-image: url(https://placekitten.com/720/720);
    width: 750px;
    height: 100%;
  }
}
@media screen and (min-width: 1708px) {
  section.full-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .title {
    display: flex;
    margin: 1em;
  }
  .sub-title {
    display: flex;
    margin: 1em;
    padding-left: 0;
  }
  p.quote {
    font-size: 2em;
  }
  .slide-img:hover .slide-title {
    font-size: 2em;
  }
  .slide-desc {
    font-size: 1.5em;
  }
}
